---
http_interactions:
- request:
    method: get
    uri: http://api.fantasy.nfl.com/v1/players/stats?format=json&position=QB&season=2015&statType=weekStats&week=9
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"statType":"weekStats","season":"2015","week":"9","players":[{"id":"2543477","esbid":"BOR650964","gsisPlayerId":"00-0031407","name":"Blake
        Bortles","position":"QB","teamAbbr":"JAX","stats":{"1":"1","2":"40","3":"24","4":"16","5":"381","6":"2","7":"2","8":"6","9":"1","13":"4","14":"32","30":"1","31":"2","70":"1","75":"1"},"seasonPts":316.12,"seasonProjectedPts":228.26,"weekPts":20.44,"weekProjectedPts":0},{"id":"497095","esbid":"BRA101548","gsisPlayerId":"00-0027854","name":"Sam
        Bradford","position":"QB","teamAbbr":"MIN","stats":{"1":"1","2":"36","3":"25","4":"11","5":"295","6":"1","8":"1","11":"1","13":"1","14":"-1"},"seasonPts":194.9,"seasonProjectedPts":275.9,"weekPts":15.7,"weekProjectedPts":0},{"id":"2504211","esbid":"BRA371156","gsisPlayerId":"00-0019596","name":"Tom
        Brady","position":"QB","teamAbbr":"NE","stats":{"1":"1","2":"39","3":"26","4":"13","5":"299","6":"2","7":"[...]
