<div class="navbar navbar-inverse navbar-static-top">
  <div class="navbar-inner">
    <a href="/" class='brand'>Mind On The Ball</a>
    <div class="container-fluid">
        <ul class="nav navbar-nav pull-right">
          <li>
            <%= link_to "Login" %>
          </li>
        </ul>
    </div>
  </div>
</div>
