<div class="row text-center">
  <h1>Welcome to Mind On the Ball</h1>
  <div class="span4 home_image">
    <div class="well">
      <img src="http://tbihelpline.com/wp-content/uploads/2016/01/shutterstock_123635224.jpg" id="mind-on-ball" alt="football minded" />
      <h4>Predictions</h4>
      <p>
        See the predictions our neural net made for this week's NFL games
      </p>
    </div>
  </div>

  <div class="span4 home_image">
    <div class="well">
      <img src="http://i2.cdn.turner.com/money/dam/assets/150119131035-green-bay-seattle-nfl-1024x576.jpg" alt="" />
      <h4>Statistics</h4>
      <p>
        See NFL historical data and filter by position and time
      </p>
    </div>
  </div>

  <div class="span4 home_image">
    <div class="well">
      <img src="http://media.istockphoto.com/photos/football-coach-whistle-clipboard-green-school-chalkboard-school-picture-id541289790?k=6&m=541289790&s=170667a&w=0&h=KuMODcAgHfkTIxAhSiy3zFmrcFVurzzQatovcI1rjRs=" alt="" />
      <h4>Blog</h4>
      <p>
        Interested in machine learning? Read our blog to see how we built a neural net
      </p>
    </div>
  </div>
</div>
