<div class="navbar navbar-inverse navbar-static-top">
  <a href="/" class='navbar-brand'>Mind On The Ball</a>
  <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <%= link_to "Login" %>
        </li>
      </ul>
  </div>
</div>
