
<h2>Stats for All Positions</h2>

<table class="table stats_table">
  <thead class="stats_table_header">
      <th>Player Name</th>
      <% @stat_names.each do |stat_name| %>
      <th><%= stat_name %></th>
      <% end %>
  </thead>
  <tbody class="stats_table_body">
    <% @player_week_stats.each do |player_week_stat| %>
    <tr>
      <td><%= player_week_stat.name %></td>
      <% @raw_stat_names.each do |stat_name| %>
      <td><%= player_week_stat[stat_name] %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>
